:root {
  --black: #000;
  --lightgray: #e5e5e5;
  --gray: #868686;
  --white: #fff;
  --highlight: #1e00c2;
  --xs: calc(var(--s) / 1.33);
  --m: calc(var(--s) * 1.33);
  --l: calc(var(--s) * 1.77);
  --xl: calc(var(--s) * 2.35);
  --xxl: calc(var(--s) * 3.13);
  --xxxl: calc(var(--s) * 4.16);
}

@media (max-width: 599px) {
  :root {
    --s: 14px;
  }
}

@media (min-width: 600px) {
  :root {
    --s: 14px;
  }
}

@media (min-width: 900px) {
  :root {
    --s: 14px;
  }
}

@media (min-width: 1200px) {
  :root {
    --s: 16px;
  }
}

@media (min-width: 1800px) {
  :root {
    --s: 18px;
  }
}

::-moz-selection {
  background: var(--highlight);
}

::selection {
  background: var(--highlight);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  line-height: var(--xxxl);
  font-size: var(--xxl);
}

h2 {
  line-height: var(--xl);
  font-size: var(--l);
}

p,
h3 {
  line-height: var(--l);
  font-size: var(--m);
  margin: 0 0 var(--m) 0;
}

.uppercase {
  text-transform: uppercase;
}

a {
  color: var(--black);
  font-style: italic;
}

a:focus {
  outline-color: var(--black);
  outline-style: dashed;
  outline-width: 2px;
}

a:hover, a:visited {
  color: var(--gray);
  outline-color: var(--gray);
}

a:active {
  outline-color: var(--lightgray);
  color: var(--lightgray);
}

:host {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -ms-grid;
  display: grid;
}

@media (max-width: 599px) {
  :host {
    grid-column-gap: var(--m);
  }
}

@media (min-width: 600px) {
  :host {
    grid-column-gap: var(--m);
  }
}

@media (min-width: 900px) {
  :host {
    grid-column-gap: var(--l);
  }
}

@media (min-width: 1200px) {
  :host {
    grid-column-gap: var(--l);
  }
}

@media (min-width: 1800px) {
  :host {
    grid-column-gap: var(--l);
  }
}

@media (max-width: 599px) {
  :host {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 600px) {
  :host {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 900px) {
  :host {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1200px) {
  :host {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1800px) {
  :host {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

:host(:not(:last-child)) {
  margin-bottom: var(--l);
}

:host([upcoming]) .image {
  background: var(--white);
}

h3,
p {
  margin: 0;
}

.details {
  grid-column: 2 / -1;
}

.image {
  background: var(--black);
  border-radius: 100%;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  padding-top: 100%;
}
