//Mixins
@mixin responsive(
  $property,
  $mobile-portait,
  $mobile-landscape,
  $tablet,
  $laptop,
  $desktop
) {
  @media (max-width: 599px) {
    #{$property}: $mobile-portait;
  }
  @media (min-width: 600px) {
    #{$property}: $mobile-landscape;
  }
  @media (min-width: 900px) {
    #{$property}: $tablet;
  }
  @media (min-width: 1200px) {
    #{$property}: $laptop;
  }
  @media (min-width: 1800px) {
    #{$property}: $desktop;
  }
}

@mixin responsive-grid(
  $mobile-portait,
  $mobile-landscape,
  $tablet,
  $laptop,
  $desktop
) {
  display: grid;
  @include responsive(
    grid-column-gap,
    var(--m),
    var(--m),
    var(--l),
    var(--l),
    var(--l)
  );
  @include responsive(
    grid-template-columns,
    repeat($mobile-portait, 1fr),
    repeat($mobile-landscape, 1fr),
    repeat($tablet, 1fr),
    repeat($laptop, 1fr),
    repeat($desktop, 1fr)
  );
}

@mixin stripes($n) {
  $stripe-width: 100% / $n;
  $gradient: ();
  @for $i from 0 through $n - 1 {
    $dump: ();
    @if $i % 2 == 0 {
      $dump: var(--white) $stripe-width * $i $stripe-width * ($i + 1);
    } @else {
      $dump: var(--black) $stripe-width * $i $stripe-width * ($i + 1);
    }
    $gradient: $gradient, $dump;
  }
  background-image: linear-gradient(to bottom, $gradient);
}

//Variables
:root {
  //Colors
  --black: #000;
  --lightgray: #e5e5e5;
  --gray: #868686;
  --white: #fff;
  --highlight: #1e00c2;

  // Spacing
  @include responsive(--s, 14px, 14px, 14px, 16px, 18px);
  --xxs: calc(var(--s) / 1.77);
  --xs: calc(var(--s) / 1.33);
  --m: calc(var(--s) * 1.33);
  --l: calc(var(--s) * 1.77);
  --xl: calc(var(--s) * 2.35);
  --xxl: calc(var(--s) * 3.13);
  --xxxl: calc(var(--s) * 4.16);
}

::selection {
  background: var(--highlight);
}

//Typography
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  line-height: var(--xxxl);
  font-size: var(--xxl);
}

h2 {
  line-height: var(--xl);
  font-size: var(--l);
}

p,
h3 {
  line-height: var(--l);
  font-size: var(--m);
  margin: 0 0 var(--m) 0;
}

.uppercase {
  text-transform: uppercase;
}

a {
  color: var(--black);
  font-style: italic;
  &:focus {
    outline-color: var(--black);
    outline-style: dashed;
    outline-width: 2px;
  }
  &:hover,
  &:visited {
    color: var(--gray);
    outline-color: var(--gray);
  }
  &:active {
    outline-color: var(--lightgray);
    color: var(--lightgray);
  }
}
