@import "common";

:host {
  align-items: start;
  @include responsive-grid(4, 4, 6, 6, 6);
}

:host(:not(:last-child)) {
  margin-bottom: var(--size-l);
}

:host([upcoming]) {
  //Should be replaced with :host-context(.header) once supported https://developer.mozilla.org/en-US/docs/Web/CSS/:host-context()
  .image {
    background: var(--white);
  }
}

h3,
p {
  margin: 0;
}

.details {
  grid-column: 2 / -1;
}

.image {
  background: var(--black);
  border-radius: 100%;
  grid-column-start: span 1;
  padding-top: 100%;
}
